#webauthn-popup {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    z-index: 10000;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#webauthn-popup h3 {
    margin-top: 0;
    font-size: 1.5em;
}

#webauthn-popup textarea {
    width: 100%;
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

#webauthn-popup textarea[readonly] {
    background-color: #f0f0f0;
}

#webauthn-popup .button-container {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

#webauthn-popup button {
    margin: 0 8px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#webauthn-popup button:hover {
    background-color: #45a049;
}

/* New styles for the SEND button */
#webauthn-popup button:nth-child(2) {
    background-color: #FF0000;
}

#webauthn-popup button:nth-child(2):hover {
    background-color: #CC0000;
}
